/* Add CSS Styling */

.odd-numbers {
    background-color: #ff6f6ff0;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.cool-class{
    font-size: 24px;
}


#number-2 {
    color: #2010d9;
    font-size: 36px;
}

#number-4 {
    background-color: #76ec76e0;
    font-weight: bold;
    font-size: 24px;
}