/* Add CSS Styling */

.black-button, 
.yellow-button {
    font-size: 28px;
    font-family: helvetica, 'Times New Roman', sans-serif;
}
.black-button {
    background-color: rgb(0, 0, 0);
    color: hsl(0,100%,100%);
}
.yellow-button {
    background-color: hsl(59, 100%, 50%);
}  